<style>
  aside.content-browser {
    display: none !important;
  }
</style>

<script>
  window.addEventListener("load", function () {
    var chatbotScript = document.createElement("script");
    chatbotScript.src = "https://unpkg.com/react-stackai@latest/dist/vanilla/vanilla-stackai.js";
    chatbotScript.setAttribute(
      "data-project-url",
      "https://www.stackai.com/embed/1b9e5e72-bd22-4f38-b6ae-d4ec9e6258b6/238247dc-7f05-4cb6-a97d-72a45ff42a3c/69e0c1da13bb744afb2b2901"
    );
    document.body.appendChild(chatbotScript);
  });
</script>